

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
	width: 100%;
	margin: 0 auto;
	font-family: Century Gothic;
}
.card-body{
	height: 240px;
}
#demo{
  top: 50%;
  left:20%;
}
.col-lg-6 .card-img {
    width: 100% !important;
    float: right
}
.img-fluid[alt~="post"] {
    max-width: 50% !important;
    padding: 2px;
}

@media (max-width: 992px) {
  body {
    font-size: 40px;
  }
  #logo{
  	height: 150px;
  }
  .cardu{
  	margin: 3%;
  }
  .card-body{
  	display: inline-block !important;
  	height: auto;
  }
  .img-fluid {
    max-width: 100% !important;
    padding: 2px;
  }
  .card-img {
    width: 100% !important;
  }
  .center{
  	text-align: center;
  	
  }
  h1{
  	font-size: 65px;
  }
  h5{
  	font-size: 55px !important;
  }
  h3{
  	font-size: 60px;
  }
  .margin{
  	margin: 2%;
  }
  #banner{
  	width: 85%;
  	height: auto;
  }
  #banerr{
  	width: 100%;
  	height: auto !important;
  }
  #demo{
    top: 20% !important;
    left: 15% !important;
  }
}

.darkSquare{
	background-color:#162A35 ;
}

.butt{
	background-color: #46c2c7;
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
	padding: 0.405rem 0.85rem;

}
.butt:hover{
	background-color: #1e5e85 !important;
	text-decoration: none;
	color: white;
}
